{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^\\u0000", "^[a-zA-Z]", "^@/(.*)$", "^[./](?!.*\\.s?css$)", "^.+\\.s?css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2
}
